*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;  
    font-size: large;
}

h1, a, p, li {
    color: white;
}
/* ===================== Imagens ==================== */

.logo-computador{
    width: 40px;
    height: auto;
}

.carrinho{
    width: 40px;
    height: auto;
}

/* ===================== Cabeçalho ==================== */
.cabecalho{
    width: 100%;
    height: 75px;
    background-color: #0094FF; 
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu_rotas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.menu_rotas li{ 
    padding: 20px;
    margin: 15;
    
}